@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Slab', Georgia, 'Times New Roman', serif;
    scroll-behavior: smooth;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    position: sticky;
    top:0;
    border-radius: 0 0 1em 1em;
}

nav {
    margin-right: 1em;
}

nav>a {
    font-size: large;
    padding: 0.15em;
    margin-right: 0.5em;
    border-radius: 0.5em;
}

#navLinksSelectOption{
    display: none;
    border: none;
    outline: none;
    text-align: center;
    appearance: none;
    font-size: large;
    padding: 0 0.5em;
    border-radius: 0.5em;
    margin-right: 2em;
    background-color: white;
    box-shadow: 0 0 0.8em white;
}

a {
    color: black;
    text-decoration: none;
}

main {
    display: flex;
    flex-direction: column;
    row-gap: 5em;
}

section {
    height: fit-content;
    margin-left: 1em;
    margin-right: 1em;
    padding-top: 61px;
}

#intro {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.title {
    font-size: xx-large;
    font-weight: bolder;
}

.description {
    color: #343434;
}

.link-underline{
    text-decoration: underline;
}

#links {
    display: flex;
    align-items: center;
}

#links>a {
    margin-top: 1.5em;
    margin-right: 1.5em;
}

.linkButton {
    outline: none;
    border: none;
    background-color: black;
    color: white;
    border-radius: 0.5em;
    padding: 0.35em;
}

#about-description {
    display: flex;
    column-gap: 2em;
    margin-top: 1em;
}

.descriptionLenghty {
    text-align: justify;
    font-size: medium;
}

.card {
    display: flex;
    margin-top: 1em;
    column-gap: 2em;
    box-shadow: 0 0 10px black;
    padding: 5px;
    border-radius: 1em;
}

.card > img{
    max-width: 300px; 
    border-radius: 0.2em;
}

#projectButtonLinks {
    margin-top: 1em;
    margin-bottom: 2em;
}

#contact-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.tech-stack, #contact-links {
    display: flex;
    flex-wrap: wrap;
}

.tech-stack > img{
    max-width: 100%;
}

#mail,
#phone,
#whatsapp {
    display: flex;
    align-items: center;
    padding: 1em;
}

#contact-links img {
    margin-right: 0.5em;
}

@media (max-width:900px) {
    #intro {
        align-items: flex-start;
    }

    #about-description {
        flex-wrap: wrap;
    }

    .card {
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media (max-width:500px) {
    nav{
        display: none;
    }

    #navLinksSelectOption{
        display: block;
    }

}