<nav class="mt-2">
    <button type="button" class="navbar-brand btn border-0 mb-3" (click)="handleNavigationDisplay()">
        <img src="assets/logos/KhzInsignia.webp" alt="Khz Insignia" width="39" height="39">
    </button>
    <div class="position-absolute px-3 px-lg-2 nav-container rounded text-center" [ngClass]="themeService.currentTheme() === 'dark'  ? 'semi-trans-bg-black' : 'semi-trans-bg-white' ">
        <p class="nav-icons" [routerLinkActiveOptions]="{ exact: true }" routerLink="/" routerLinkActive="active" title="Home" (click)="hideNavigationDisplay()" #navIcon>
            <i class="bi bi-house-door-fill fs-1"></i>
            <span>Home</span>
        </p> 
        <p class="nav-icons my-5"routerLink="intro" routerLinkActive="active" title="Who am I?" (click)="hideNavigationDisplay()" #navIcon>
            <i class="bi bi-person-fill fs-1"></i>
            <span>Who am I?</span>
        </p>
        <p class="nav-icons my-5" routerLink="skills" routerLinkActive="active" title="My Skills" (click)="hideNavigationDisplay()" #navIcon>
            <i class="bi bi-code-slash fs-1"></i>
            <span>My Skills</span>
        </p>
        <p class="nav-icons" routerLink="projects" routerLinkActive="active" title="Projects" (click)="hideNavigationDisplay()" #navIcon>
            <i class="bi bi-laptop fs-1"></i>
            <span>Projects</span>
        </p>
    </div>
</nav>