.nav-icons {
    cursor: pointer;
    transition: transform 0.5s ease,
        opacity 0.5s ease;

    *:hover {
        color: #0ca0e1;
    }

    &.active {
        color: #0ca0e1;
    }

    &.dark {
        background-color: rgba(226, 243, 255, 0.8);
    }

    &.light {
        background-color: rgba(13, 16, 19, 0.8);
    }
}

.nav-container {
    top: 10%;
    transform: translateX(-500%);
    transition: 1s;
    opacity: 0;
    &.show {
        transform: translateX(25%);
        transition: 0.5s;
        opacity: 1;
    }
}

@media only screen and (max-width: 480px) {
    .nav-container {
        top: 20%;
    }
}

@media only screen and (max-width: 768px) {
    .nav-container {
        top: 16%;
    }
}