<nav class="p-2 border-end border-primary rounded-end mt-2" style="max-width: fit-content; ">
    <button  type="button" class="navbar-brand btn border-0" routerLink="/" routerLinkActive="active">
        <img src="assets/logos/KhzInsignia.webp" alt="Khz Insignia" width="39" height="39">
    </button>
    <hr class="text-secondary" />
    <div class="text-center">
        <p class="my-5">
            <button routerLink="intro" type="button" class="btn border-0" routerLinkActive="active" title="Who am I?">
                <fa-icon [icon]="userIcon" size="2x" class="icon-style" [class]="iconsColorClass"></fa-icon>
            </button>
        </p>
        <p class="my-5">
            <button routerLink="skills" type="button" class="btn border-0" routerLinkActive="active" title="My Skills">
                <fa-icon [icon]="skillsIcon" size="2x" class="icon-style" [class]="iconsColorClass"></fa-icon>
            </button>
        </p>
        <p>
            <button routerLink="projects" type="button" class="btn border-0" routerLinkActive="active" title="Projects">
                <fa-icon [icon]="projectsIcon" size="2x" class="icon-style" [class]="iconsColorClass"></fa-icon>
            </button>
        </p>
    </div>
</nav>