.nav-icons {
    cursor: pointer;
    position: relative;
    transition: transform 0.5s ease, opacity 0.5s ease; // This line will ensure the transition property is applied to all the elements. 

    *:hover {
        color: #0ca0e1;
    }

    &.active {
        color: #0ca0e1;
    }
}

.nav-icons i {
    padding: 10% 20%;

    &.semi-trans-bg-white {
        background-color: rgba(255, 255, 255, 0.9);
    }

    &.semi-trans-bg-black {
        background-color: rgba(0, 0, 0, 0.9);
    }
}

.nav-container {
    top: 15%;
    transform: translateX(25%);
}

.nav-icons {
    opacity: 0; // This line will ensure that all icons will be hidden initially.

    &.show {
        opacity: 1; // This line will ensure that all icons wiil be displayed upon having the class show.
    }
}

.nav-icon-1 {
    &.active {
        z-index: 1000; // This line will ensure that the current route icon will be displayed above all other icons.
        opacity: 1; // This line will ensure that the current route icon will be displayed beside the logo.
    }
}

.nav-icon-2 {
    transform: translateX(-250%);
    &.show {
        transform: translateX(0); // This line ensures that all nav-icons are translated to their original position when show class is added to it. As this will be inherited and does not change based on the screen size, this will be applied by default to elements. Only transform values will get changed based on the screen size.
    }

    &.active {
        z-index: 1000;
        opacity: 1;
    }
}

.nav-icon-3 {
    transform: translateX(-500%);
    &.show {
        transform: translateX(0);
    }

    &.active {
        z-index: 1000;
        opacity: 1;
    }

}

.nav-icon-4 {
    transform: translateX(-750%);
    &.show {
        transform: translateX(0);
    }

    &.active {
        z-index: 1000;
        opacity: 1;
    }
}

@media only screen and (max-width: 768px) {

    .nav-container {
        top: 20%;
    }

    .nav-icon-2 {
        transform: translateX(-280%);
    }

    .nav-icon-3 {
        transform: translateX(-560%);
    }

    .nav-icon-4 {
        transform: translateX(-840%);
    }
}

@media only screen and (max-width: 432px) {

    .nav-container {
        transition: 0.6s ease; // The transition is only required for mobile devices.
        top: 25%;

        &.show {
            top: 60%;
        }
    }

    .nav-icon-2 {
        transform: translateX(-300%);
    }

    .nav-icon-3 {
        transform: translateX(-600%);
    }

    .nav-icon-4 {
        transform: translateX(-900%);
    }
}