<nav class="p-2 border-end border-primary rounded-end mt-2" style="max-width: fit-content; background-color: #0E0C0A;">
    <a class="navbar-brand" routerLink="/" routerLinkActive="active">
        <img src="assets/images/Logo/KhzInsignia.webp" alt="Khz Insignia" width="39" height="39">
    </a>
    <hr class="text-secondary" />
    <div class="text-center">
        <p class="my-5">
            <a routerLink="/intro" routerLinkActive="active" title="Who am I?">
                <fa-icon [icon]="userIcon" size="2x" class="icon-style"></fa-icon>
            </a>
        </p>
        <p class="my-5">
            <a routerLink="/skills" routerLinkActive="active" title="My Skills">
                <fa-icon [icon]="skillsIcon" size="2x" class="icon-style"></fa-icon>
            </a>
        </p>
        <p>
            <a routerLink="/projects" routerLinkActive="active" title="Projects">
                <fa-icon [icon]="projectsIcon" size="2x" class="icon-style"></fa-icon>
            </a>
        </p>
    </div>


</nav>