<section class="d-flex justify-content-around align-items-center flex-wrap container gap-5">
    <img src="assets/images/web-dp.png" alt="Karthik's Display Picture" class="img-fluid">
    <div class="text-wrap">
        <p class="display-1 fw-semibold">{{ 'home.hello' | translate }}</p>
        <p class="display-5"> I'm KARTHIK S</p>
        <p class="display-6">A passionate software developer</p>
        <p>from <span style="color: orangered;" class="display-5">{{ 'home.bha' | translate }}</span>
            <span style="color: blue;" class="display-5">{{ 'home.ra' | translate }}</span>
            <span style="color: green;" class="display-5">{{ 'home.tha' | translate }}</span>
        </p>
    </div>
</section>