<section class="d-flex justify-content-around align-items-center flex-wrap container gap-5">
    <img src="assets/images/web-dp.png" alt="Karthik's Display Picture" class="img-fluid">
    <div class="text-wrap">
        <p class="display-1 fw-semibold">{{ 'home.hello' | translate }}</p>
        <p class="display-5"> {{ 'home.name_intro' | translate }}</p>
        <p class="display-6">{{ 'home.designation' | translate }}</p>
        <p> @if (translateService.currentLang === "en" ) {
                {{ 'home.from' | translate }}
            }
            <span style="color: orangered;" class="display-5">{{ 'home.bha' | translate }}</span>
            <span style="color: rgb(213, 213, 213);" class="display-5">{{ 'home.ra' | translate }}</span>
            <span style="color: green;" class="display-5">{{ 'home.tha' | translate }}</span>
            @if (translateService.currentLang !== "en" ) {
                {{ 'home.from' | translate }}
            }
        </p>
    </div>
</section>