<div class="container">
<p class="fs-1">Who am I?</p>
    <p class="my-4">
        I'm a recent BCA graduate who thrived during an immersive internship at KodNest,
        where I immersed myself in Java full-stack web development. </p>
    <p class="mb-4">
        Now, as a trainee software developer at    Star Knowledge Ventures, I'm broadening my horizons with .NET full-stack, mastering .NET, ASP.NET Core MVC, Web API, Angular, and an array of other tools.</p>
    <p>
        With a proven track record of collaborative success and a hunger for innovation, I am eager to bring my enriched background and collaborative spirit to the forefront of dynamic development ventures.
    </p>
</div>
