<div class="container mb-5">
    <p class="fs-1">Projects</p>
    <section class="row row-cols-1 row-cols-md-3 g-5">
        <div class="col">
            <div class="card h-100 color-bgColor-inherit card-shadow">
                <img src="assets/images/Solar-System.webp" class="card-img-top" alt="Solar System Image of website">
                <div class="card-body">
                    <h5 class="card-title">Solar System</h5>
                    <details class="my-3">
                        <summary class="fw-semibold">Description</summary>
                        <p class="ms-3">
                            A static website showcasing our “SOLAR SYSTEM” in the Milky Way
                            Galaxy. After eliminating redundant data which are hard to go
                            through, we are providing small yet powerful website which can be used for viewing overall
                            data of the planets.
                        </p>
                    </details>
                    <details>
                        <summary class="fw-semibold">Tech Stack</summary>
                        <img src="assets/logos/html5.svg" alt="HTML5 logo" />
                        <img src="assets/logos/css3.svg" alt="CSS3 logo" />
                    </details>
                    <details class="my-3">
                        <summary class="fw-semibold">Skills Learnt</summary>
                        <ul>
                            <li>HTML5</li>
                            <li>CSS3</li>
                            <li>Website Layout Designing</li>
    
                        </ul>
                    </details>
                </div>
                <div class="card-footer card-footer-shadow">
                    <div class="d-flex flex-wrap justify-content-between ">
                        <a href="https://github.com/karthiksgujjar/SolarSystem" class="text-decoration-none"
                            target="_blank">View Code</a>
                        <a href="https://karthiksgujjar.github.io/SolarSystem" class="text-decoration-none"
                            target="_blank">Open Website</a>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="col">
            <div class="card h-100 color-bgColor-inherit card-shadow">
                <img src="assets/images/SLS.webp" class="card-img-top"
                    alt="Simple Library Surfer desktop application's main form image">
                <div class="card-body">
                    <h5 class="card-title">Simple Library Surfer</h5>
                    <details class="my-3">
                        <summary class="fw-semibold">Description</summary>
                        <p class="ms-3">
                            Created a robust .NET WinForms CRUD application for library management, enabling librarians
                            to efficiently handle book data, including insertion, deletion (including bulk delete),
                            updating, and viewing. Implemented PDF report generation and advanced book search functionality.
                        </p>
                    </details>
                    <details>
                        <summary class="fw-semibold">Tech Stack</summary>
                        <div class="ms-3">
                            <img src="assets/logos/dotnet.svg" alt="Microsoft .Net logo" />
                            <img src="assets/logos/csharp.svg" alt="C# icon" />
                            <img src="assets/logos/mysql.svg" alt="MySQL icon" />
                        </div>
                    </details>
                    <details class="my-3">
                        <summary class="fw-semibold">Skills Learnt</summary>
                        <ul>
                            <li>C#</li>
                            <li>MySQL</li>
                            <li>.NET (WinForms)</li>
                            <li>Dektop Application Development</li>
                        </ul>
                    </details>
                </div>
                <div class="card-footer card-footer-shadow">
                    <div class="d-flex flex-wrap justify-content-between ">
                        <a href="https://github.com/karthiksgujjar/SLS" class="text-decoration-none" target="_blank">View
                            Code</a>
                        <a href="https://karthiksgujjar.github.io/SLS/" class="text-decoration-none" target="_blank">Open
                            Website</a>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="col">
            <div class="card h-100 color-bgColor-inherit card-shadow">
                <img src="assets/images/PGMS.webp" class="card-img-top"
                    alt="Paying Guest Management System desktop application's main form image">
                <div class="card-body">
                    <h5 class="card-title">Paying Guest Management System</h5>
                    <details class="my-3">
                        <summary class="fw-semibold">Description</summary>
                        <p class="ms-3">
                            A user-friendly Paying Guests Management software for PG building owners developed using .NET
                            with C# (WinForms). Streamlined guest and building management, replacing manual processes.
                            Featured staff management, guest admission/removal, fee collection, visitor tracking, and
                            reporting.
                        </p>
                    </details>
                    <details>
                        <summary class="fw-semibold">Tech Stack</summary>
                        <div class="ms-3">
                            <img src="assets/logos/dotnet.svg" alt="Microsoft .Net logo" />
                            <img src="assets/logos/csharp.svg" alt="C# icon" />
                            <img src="assets/logos/mysql.svg" alt="MySQL icon" />
                        </div>
                    </details>
                    <details class="my-3">
                        <summary class="fw-semibold">Skills Learnt</summary>
                        <ul>
                            <li>C#</li>
                            <li>MySQL</li>
                            <li>.NET (WinForms)</li>
                            <li>Dektop Application Development</li>
                        </ul>
                    </details>
                </div>
                <div class="card-footer card-footer-shadow">
                    <div class="d-flex flex-wrap justify-content-between ">
                        <a href="https://github.com/karthiksgujjar/PGMS" class="text-decoration-none" target="_blank">View
                            Code</a>
                        <a href="https://karthiksgujjar.github.io/PGMS" class="text-decoration-none" target="_blank">Open
                            Website</a>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="col">
            <div class="card h-100 color-bgColor-inherit card-shadow">
                <img src="assets/images/CPU-Scheduling-Visualizer.webp" class="card-img-top" alt="CPU Scheduling Demo Website's Homepage">
                <div class="card-body">
                    <h5 class="card-title">CPU Scheduling Visualizer</h5>
                    <details class="my-3">
                        <summary class="fw-semibold">Description</summary>
                        <p class="ms-3">
                            This is a side project developed with an intention to help my juniors better understand the
                            differences between various CPU Scheduling Algorithms in one go. The site includes 4 algorithms, they are:
                            <abbr title="First Come First Serve">FCFS</abbr>, <abbr title="Shortest Job First">SJF</abbr>,
                            <abbr title="Round Robin">RR</abbr> and
                            Priority scheduling.
                        </p>
                    </details>
                    <details>
                        <summary class="fw-semibold">Tech Stack</summary>
                        <img src="assets/logos/html5.svg" alt="HTML5 logo" />
                        <img src="assets/logos/css3.svg" alt="CSS3 logo" />
                        <img src="assets/logos/javascript.svg" alt="CSS3 logo" />
                    </details>
                    <details class="my-3">
                        <summary class="fw-semibold">Skills Learnt</summary>
                        <ul>
                            <li>HTML5</li>
                            <li>CSS3</li>
                            <li>Javascript</li>
                            <li>DOM Manipulation</li>
                        </ul>
                    </details>
                </div>
                <div class="card-footer card-footer-shadow">
                    <div class="d-flex flex-wrap justify-content-between ">
                        <a href="https://github.com/karthiksgujjar/CPU-Scheduling-Visualizer" class="text-decoration-none"
                            target="_blank">View Code</a>
                        <a href="https://karthiksgujjar.github.io/CPU-Scheduling-Visualizer" class="text-decoration-none"
                            target="_blank">Open Website</a>
                    </div>
                </div>
            </div>
        </div>
    
    </section>
</div>