<div class="container">
    <p class="fs-1">{{ 'skills.heading' | translate}}</p>
    <div>
        <p class="m-0 fs-3">{{ 'skills.frontend' | translate}}</p>
        <div class="d-flex gap-3 flex-wrap">
            <img src="assets/logos/html5.svg" alt="HTML5 logo" />
            <img src="assets/logos/css3.svg" alt="CSS3 logo" />
            <img src="assets/logos/bootstrap.svg" alt="Bootstrap logo" />
            <img src="assets/logos/sass.svg" alt="SASS logo" />
            <img src="assets/logos/javascript.svg" alt="JavaScript logo" />
            <img src="assets/logos/jquery.svg" alt="JQuery logo" />
            <img src="assets/logos/angular.svg" alt="Angular logo" />
        </div>
    </div>

    <div>
        <p class="fs-3">{{ 'skills.backend' | translate}}</p>
        <div class="d-flex gap-3 flex-wrap">
            <img src="assets/logos/csharp.svg" alt="CSharp logo" />
            <img src="assets/logos/typescript.svg" alt="TypeScript logo" />
            <img src="assets/logos/sql-server.svg" alt="SQL Server logo" />
        </div>
    </div>

    <div class="mt-5">
        <p class="m-0 fs-3">{{ 'skills.frameworks_and_technologies' | translate}}</p>
        <div class="d-flex gap-3 flex-wrap">
            <img src="assets/logos/git.svg" alt="Git logo" />
            <img src="assets/logos/dotnet.svg" alt="DotNet logo" />
            <img src="assets/logos/azure.svg" alt="Azure logo" />
            <img src="assets/logos/docker.svg" alt="Docker logo" />
            <img src="assets/logos/visual-studio.svg" alt="Visual Studio logo" />
            <img src="assets/logos/vscode.svg" alt="Visual Studio Code logo" />
        </div>
    </div>
</div>