/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

* {
    // color: white;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-style: normal;
}


body {
    &.light {
        background-color: #FFFFFF !important;
        color: #0C090A !important;
        transition: all 0.3s ease-in-out;
    }
    
    &.dark {
        background-color: #0C090A !important;
        color: #FFFFFF !important;
        transition: all 0.3s ease-in-out;
    }
}
